/* *START-POST */
#post{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas:"article article article bio";
    padding: 20px 0px;
}
@media(max-width: 767px){
    #post{
        grid-template-columns: 1fr;
        grid-template-areas:
                            "article"
                            "bio";
    }
}
@media(min-width: 767px) and (max-width:991px){
    #post{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:"article article bio";
    }
}
/* *START-NAV */
nav.container{
    margin-top: 20px;
}
nav a{
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
}
/* *START-NAV */
/* *START-ARTICLE */
#post article{
    padding: 1.5rem;
    grid-area: article;
    background: white;
    box-shadow: 2px 2px 3px grey;
}
#post article .blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#post article .blog-post .blog-post-img {
    margin: 20px 0px;
    width: 80%;
}
#post article .blog-post p{
    line-height: 1.5rem;
}
#post article q {
    display: block;
    padding: 20px;
    font-size: 14px;
    border-left: 5px solid var(--third-color);
}
#post article a {
    margin-top: 20px;
    color: var(--primary-color);
    text-decoration: none;
}
#post article a:hover {
    text-decoration: underline;
}
/* *END-ARTICLE */
/* *START-BIO */
#post #bio{
    display: flex;
    flex-direction: column;
    grid-area: bio;
}
@media (min-width:450px) and (max-width:767px) {
    #post #bio{
        flex-wrap: wrap;
        flex-direction: row;
    }
    #post #bio .bio-image{
        width: calc(50% - 10px);
        margin-right: 20px;
    }
    #post #bio .bio-image img{
        width: 100%;
    }
    #post #bio .bio-description{
        width: calc(50% - 10px);
    }
    #post #bio .bio-description p{
        line-height: 2rem;
    }
}
#post #bio .bio-image img{
    max-width: 100%;
}
#post #bio .bio-description{
    line-height: 1.5rem;
}
#post #bio .bio-description .bio-header{
    padding: 10px;
    text-align: center;
}
#post #bio .bio-description .bio-social {
    margin-top: 10px;
}
#post #bio .bio-description .bio-social a {
    text-decoration: none;
}
#post #bio .bio-description .bio-social a img{
    max-width: 15%;
}
@media (max-width:767px) {
    #post #bio .bio-description .bio-social a img{
        max-width: 10%;
    }
}
/* *END-BIO */
/* *END-POST */