/* *IMPORTS-FILES */
@import "header.css";
@import "blog-post.css";
@import "footer.css";
/* *IMPORTS-FILES */
/* *START-GLOBAL */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    --primary-color: #334443;
    --secondary-color: #34656d;
    --third-color: #c6ffc1;
}
body {
    background-color: #fffbdf;
    font-family: sans-serif;
    text-transform: capitalize
}
/* *END-GLOBAL */
/* *START-FRAMEWORK */
.btn {
    width: 200px;
    height: 40px;
    display: block;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
.container{
    width: 80%;
    margin: auto;
}
/* *END-FRAMEWORK */
/* *START-HOME */
#home{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas:"side article article article";
    padding: 20px 0px;
}
@media(max-width: 767px){
    #home{
        grid-template-columns: 1fr;
        grid-template-areas:
                            "side"
                            "article";
        gap: 0PX;
    }
}
@media(min-width: 768px) and (max-width:991px){
    #home{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:"side article";
        gap: 0PX;
    }
}
/* *START-SIDEBAR */
#home aside {
    grid-area: side;
    text-align: center;
}
@media(max-width: 767px){
    #home aside .btn{
        margin: auto;
        margin-bottom: 20px;
    }
}
#home aside button.btn-primary{
    background-color: var(--primary-color);
    color: var(--third-color);
}
#home aside button.btn-secondary{
    color: var(--primary-color);
}
#home aside button.btn-secondary:hover{
    background-color: var(--primary-color);
    color: var(--third-color);
}
/* *END-SIDEBAR */
/* *START-ARTICLES-CONTAINER */
#home #content {
    grid-area: article;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@media(max-width: 991px){
    #home #content{
        display: block;
        padding: 0px 10px;
    }
}
#home #content div{
    width: calc(50% - 30px);
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
#home #content div:first-of-type,
div:nth-child(2){
    margin-bottom: 20px;
}
@media(max-width: 767px){
    #home #content div{
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }
}
@media(min-width: 767px) and (max-width:991px){
    #home #content div{
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }
}
#home #content div article figure img{
    height: 120px;
    margin: 5px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#home #content div article figure p{
    display: block;
    margin-bottom: 5px;
}
#home #content div article figure figcaption{
    margin-bottom: 5px;
}
#home #content div article a{
    color: var(--third-color);
    text-decoration: none;
}
#home #content div article a:hover{
    text-decoration: underline;
}
/* *END-ARTICLES-CONTAINER */
/* *END-MAIN */